html {
    height: 99%;    
}

body {
    height: 99%;
}

.fuerte {
    background-color: green;
}

.mediano {
    background-color: greenyellow;
}

.liviano {
    background-color: lightgreen;
}

.contenedor {
    height: 100%;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px 150px;
    gap: 20px;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    
}